*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: white;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.header a {
    float: left;
}
.timer {
    float: right;
}

a:link { 
    text-decoration: none;
    background-color: transparent;
    color: black;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.infoTitle, #question {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.infoList {
    padding: 15px 30px;
}

.info {
    margin: 5px 0;
    font-size: 17px;
}


.buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#startQuiz {
    height: 50px;
    width: 100px;
    margin: 0 30px 10px 0;
    border-radius: 5px;
}

#startQuiz {
    color: #fff;
    background: linear-gradient(to right, #515ab1, #303ca7);
}
#startQuiz:hover {
    background: linear-gradient(to right,#6970af, #4750a5);
}

.hide {
    display: none;
}

.btn-grid {
    display: grid;
}

.btn {
    color: #fff;
    background: linear-gradient(to right, #515ab1, #303ca7);
    border-radius: 5px;
    margin: 8px 10px 8px 10px;
    height: 30px;
    width: auto;
}

.btn:hover {
    color: #fff;
    background: linear-gradient(to right,#6970af, #4750a5);
}

#answerMsg {
    display: flex;
    align-items: center;
    justify-content: center;
}